*{
	margin: 0%;
	padding: 0%;
	font-family: 'Raleway', sans-serif;
	color: white;
	background-color: rgb(0,0,0);
}
.navbar{	
	display: flex;
	width: 100%;
	position: fixed;
}

li{
	list-style-type: none;
	padding: 1em 3em;
}
a{
	text-decoration: none;
}

a:hover{
	color: orange;
}

.help{
 	margin-left: auto;
}

.coverImage{
	height: 450px;
	background-image: url("https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
	background-repeat: no-repeat;
	background-position: center;
}

h1{
	border: 2px solid orange;
	width: 15%;
	margin: auto;
	padding: 1%;
}

.grid{
	background-color: black;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: minmax(200px, auto);
	grid-row-gap: 3em;
	grid-column-gap: 3em;
	margin: 5% 10% 10% 10%;
}
.gridBox{
	margin: auto;
	padding: auto;
}

img{
	max-height: 200px;
	margin-bottom: 0px;
}

.footer{
	font-size: 30px;
	height: 30px;
	background-color: grey;
}


.firstRow{
	padding: 0px;
	margin: 0px;
}

p{
	color: red;
	font-size: 40px;
	background: none;
	text-align: center;
	font-weight: bolder;
}

@media (max-width: 800px){
	.navbar{
		display:block;
		position: static;
	}
	li{
		border: 1px solid grey;
	}
	.coverImage{
		height: 200px;
		background-size: auto;
		background-position: center;
	}
	.grid{
		background-color: black;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: minmax(200px, auto);
		grid-row-gap: 3em;
		grid-column-gap: 3em;
		margin: 5% 10% 10% 10%;
	}
	h1{
		width: 25%;
	}
}
@media (max-width: 600px){
	.grid{
		background-color: black;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: minmax(200px, auto);
		grid-row-gap: 3em;
		grid-column-gap: 3em;
		margin: 10% 10% 10% 10%;
	}
}